<% if @glucose_level.errors.any? %>
  <% @glucose_level.errors.full_messages.each do |message| %>
    <div class="alert">
      <%= message %>
    </div>
  <% end %>
<% end %>

<h1>
  Edit glucose level #<%= @glucose_level.id %>
</h1>

<hr>

<form action="/update_glucose_level/<%= @glucose_level.id %>" method="post">

  <div class="form-group">
    <label for="glucose_level">
      Glucose level
    </label>

    <input type="text" id="glucose_level" name="glucose_level" class="form-control" value="<%= @glucose_level.glucose_level %>">
  </div>

  <div class="form-group">
    <label for="subject_id">
      Subject
    </label>

    <%= select_tag(:subject_id, options_from_collection_for_select(Subject.all, :id, :cohort_id, @glucose_level.subject_id), :class => "form-control") %>
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update glucose level
  </button>
</form>

<hr>

<a href="/glucose_levels">
  Go back
</a>
