<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Dosing cohort #<%= @dosing_cohort.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/dosing_cohorts" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/dosing_cohorts/<%= @dosing_cohort.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit dosing cohort
        </a>
      </div>

      <div class="col">
        <a href="/delete_dosing_cohort/<%= @dosing_cohort.id %>" class="btn btn-block btn-outline-secondary">
          Delete dosing cohort
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cohort 123
      </dt>
      <dd>
        <%= @dosing_cohort.cohort_123 %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@dosing_cohort.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@dosing_cohort.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "dosing_cohort_templates/dosing_cohort_subjects" %>
  </div>
</div>
