<h1>
  Edit meal #<%= @meal.id %>
</h1>

<hr>

<form action="/update_meal/<%= @meal.id %>" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <%= cl_image_tag(@meal.name.to_s, :width => 90, :height => 90, :crop => :thumb) %>
    <input type="file" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="carbs_g">
      Carbs g
    </label>

    <input type="text" id="carbs_g" name="carbs_g" class="form-control" value="<%= @meal.carbs_g %>">
  </div>

  <div class="form-group">
    <label for="mealtime_id">
      Mealtime
    </label>

    <%= select_tag(:mealtime_id, options_from_collection_for_select(MealTime.all, :id, :name, @meal.mealtime_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="glucoselevel_id">
      Glucoselevel
    </label>

    <%= select_tag(:glucoselevel_id, options_from_collection_for_select(GlucoseLevel.all, :id, :glucose_level, @meal.glucoselevel_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="insulinunits_id">
      Insulinunits
    </label>

    <%= select_tag(:insulinunits_id, options_from_collection_for_select(InsulinBolu.all, :id, :name, @meal.insulinunits_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="nurse_notes">
      Nurse notes
    </label>

    <input type="text" id="nurse_notes" name="nurse_notes" class="form-control" value="<%= @meal.nurse_notes %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Update meal
  </button>
</form>

<hr>

<a href="/meals">
  Go back
</a>
