<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Meal #<%= @meal.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/meals" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/meals/<%= @meal.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit meal
        </a>
      </div>

      <div class="col">
        <a href="/delete_meal/<%= @meal.id %>" class="btn btn-block btn-outline-secondary">
          Delete meal
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <img src="<%= @meal.name %>" class="img-fluid">
      </dd>

      <dt>
        Carbs g
      </dt>
      <dd>
        <%= @meal.carbs_g %>
      </dd>

      <dt>
        Mealtime
      </dt>
      <dd>
        <% if @meal.mealtime.present? %>
          <a href="/meal_times/<%= @meal.mealtime_id %>">
            <%= @meal.mealtime.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Glucoselevel
      </dt>
      <dd>
        <% if @meal.glucoseleve.present? %>
          <a href="/glucose_levels/<%= @meal.glucoselevel_id %>">
            <%= @meal.glucoseleve.glucose_level %>
          </a>
        <% end %>
      </dd>

      <dt>
        Insulinunits
      </dt>
      <dd>
        <% if @meal.insulinunits.present? %>
          <a href="/insulin_bolus/<%= @meal.insulinunits_id %>">
            <%= @meal.insulinunits.name %>
          </a>
        <% end %>
      </dd>

      <dt>
        Nurse notes
      </dt>
      <dd>
        <%= @meal.nurse_notes %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@meal.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@meal.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "meal_templates/meal_subject" %>
  </div>
</div>
