<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Subject #<%= @subject.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/subjects" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/subjects/<%= @subject.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit subject
        </a>
      </div>

      <div class="col">
        <a href="/delete_subject/<%= @subject.id %>" class="btn btn-block btn-outline-secondary">
          Delete subject
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Cohort
      </dt>
      <dd>
        <% if @subject.cohort.present? %>
          <a href="/dosing_cohorts/<%= @subject.cohort_id %>">
            <%= @subject.cohort.cohort_123 %>
          </a>
        <% end %>
      </dd>

      <dt>
        Profilenotes
      </dt>
      <dd>
        <img src="<%= @subject.profilenotes %>" class="img-fluid">
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@subject.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@subject.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "subject_templates/subject_insulin_bolus" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "subject_templates/subject_glucose_levels" %>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "subject_templates/subject_meals" %>
  </div>
</div>
