<form action="/create_meal" method="post" enctype="multipart/form-data">

  <div class="form-group">
    <label for="name">
      Name
    </label>

    <input type="file" id="name" name="name" class="form-control">
  </div>

  <div class="form-group">
    <label for="carbs_g">
      Carbs g
    </label>

    <input type="text" id="carbs_g" name="carbs_g" class="form-control" value="<%= @meal.carbs_g %>">
  </div>

  <div class="form-group">
    <label for="mealtime_id">
      Mealtime
    </label>

    <%= select_tag(:mealtime_id, options_from_collection_for_select(MealTime.all, :id, :name, @meal.mealtime_id), :class => "form-control") %>
  </div>

  <div class="form-group">
    <label for="glucoselevel_id">
      Glucoselevel
    </label>

    <%= select_tag(:glucoselevel_id, options_from_collection_for_select(GlucoseLevel.all, :id, :glucose_level, @meal.glucoselevel_id), :class => "form-control") %>
  </div>

  <input type="hidden" name="insulinunits_id" value="<%= @insulin_bolu.id %>">

  <div class="form-group">
    <label for="nurse_notes">
      Nurse notes
    </label>

    <input type="text" id="nurse_notes" name="nurse_notes" class="form-control" value="<%= @meal.nurse_notes %>">
  </div>

  <button class="btn btn-block btn-outline-secondary">
    Create meal
  </button>
</form>
