<!-- Form meal start -->
<form action="/create_meal" method="post" enctype="multipart/form-data">
<!-- Form meal end -->

  <!-- Label and input for name start -->
  <div class="form-group">
    <label for="name">
      Name
    </label>

    <!-- Input for name start -->
    <input type="file" id="name" name="name" class="form-control">
    <!-- Input for name end -->
  </div>
  <!-- Label and input for name end -->

  <!-- Label and input for carbs_g start -->
  <div class="form-group">
    <label for="carbs_g">
      Carbs g
    </label>

    <!-- Input for carbs_g start -->
    <input type="text" id="carbs_g" name="carbs_g" class="form-control" value="<%= @meal.carbs_g %>">
    <!-- Input for carbs_g end -->
  </div>
  <!-- Label and input for carbs_g end -->

  <!-- Label and input for mealtime_id start -->
  <div class="form-group">
    <label for="mealtime_id">
      Mealtime
    </label>

    <!-- Input for mealtime_id start -->
    <input type="text" id="mealtime_id" name="mealtime_id" class="form-control" value="<%= @meal.mealtime_id %>">
    <!-- Input for mealtime_id end -->
  </div>
  <!-- Label and input for mealtime_id end -->

  <!-- Label and input for glucoselevel_id start -->
  <div class="form-group">
    <label for="glucoselevel_id">
      Glucoselevel
    </label>

    <!-- Input for glucoselevel_id start -->
    <input type="text" id="glucoselevel_id" name="glucoselevel_id" class="form-control" value="<%= @meal.glucoselevel_id %>">
    <!-- Input for glucoselevel_id end -->
  </div>
  <!-- Label and input for glucoselevel_id end -->

  <!-- Label and input for insulinunits_id start -->
  <!-- Input for insulinunits_id start -->
  <input type="hidden" name="insulinunits_id" value="<%= @insulin_bolu.id %>">
  <!-- Input for insulinunits_id end -->

  <!-- Label and input for nurse_notes start -->
  <div class="form-group">
    <label for="nurse_notes">
      Nurse notes
    </label>

    <!-- Input for nurse_notes start -->
    <input type="text" id="nurse_notes" name="nurse_notes" class="form-control" value="<%= @meal.nurse_notes %>">
    <!-- Input for nurse_notes end -->
  </div>
  <!-- Label and input for nurse_notes end -->

  <button class="btn btn-block btn-outline-secondary">
    Create meal
  </button>
</form>
