<div class="row mb-3">
  <div class="col-md-12">
    <h1>
      All insulin bolus
    </h1>

    <a href="/insulin_bolus/new" class="btn btn-block btn-outline-secondary">
      Add a new insulin bolu
    </a>
  </div>
</div>

<div class="row">
  <div class="col-md-12 mb-3">
    <%= render partial: "insulin_bolu_templates/insulin_bolus_search_form" %>
  </div>
</div>



<hr>

<div class="row mb-3">
  <div class="col-md-12">
    <table class="table">
      <tr>
        <th>
          ID
        </th>

        <th>
          Name
        </th>

        <th>
          Amount
        </th>

        <th>
          Subject
        </th>

        <th>
          Created at
        </th>

        <th>
          Updated at
        </th>

        <th>
        </th>
      </tr>

      <% @insulin_bolus.each do |insulin_bolu| %>
      <tr>
        <td>
          <%= insulin_bolu.id %>
        </td>

        <td>
          <%= insulin_bolu.name %>
        </td>

        <td>
          <%= insulin_bolu.amount %>
        </td>

        <td>
          <% if insulin_bolu.subject.present? %>
            <a href="/subjects/<%= insulin_bolu.subject.id %>">
              <%= insulin_bolu.subject.cohort_id %>
            </a>
          <% end %>
        </td>

        <td>
          <%= time_ago_in_words(insulin_bolu.created_at) %> ago
        </td>

        <td>
          <%= time_ago_in_words(insulin_bolu.updated_at) %> ago
        </td>

        <td>
          <a href="/insulin_bolus/<%= insulin_bolu.id %>">
            Show details
          </a>
        </td>
      </tr>
      <% end %>
    </table>

    <div class="row mb-3">
      <div class="col-md-12">
        <%= paginate @insulin_bolus, theme: "twitter-bootstrap-4" %>
      </div>
    </div>

  </div>
</div>
