<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <h1>
      Insulin bolu #<%= @insulin_bolu.id %> details
    </h1>

    <div class="row mb-3">
      <div class="col">
        <a href="/insulin_bolus" class="btn btn-block btn-outline-secondary">
          Go back
        </a>
      </div>

      <div class="col">
        <a href="/insulin_bolus/<%= @insulin_bolu.id %>/edit" class="btn btn-block btn-outline-secondary">
          Edit insulin bolu
        </a>
      </div>

      <div class="col">
        <a href="/delete_insulin_bolu/<%= @insulin_bolu.id %>" class="btn btn-block btn-outline-secondary">
          Delete insulin bolu
        </a>
      </div>
    </div>

    <dl>
      <dt>
        Name
      </dt>
      <dd>
        <%= @insulin_bolu.name %>
      </dd>

      <dt>
        Amount
      </dt>
      <dd>
        <%= @insulin_bolu.amount %>
      </dd>

      <dt>
        Subject
      </dt>
      <dd>
        <% if @insulin_bolu.subject.present? %>
          <a href="/subjects/<%= @insulin_bolu.subject_id %>">
            <%= @insulin_bolu.subject.cohort_id %>
          </a>
        <% end %>
      </dd>

      <dt>
        Created at
      </dt>
      <dd>
        <%= time_ago_in_words(@insulin_bolu.created_at) %> ago
      </dd>

      <dt>
        Updated at
      </dt>
      <dd>
        <%= time_ago_in_words(@insulin_bolu.updated_at) %> ago
      </dd>
    </dl>
  </div>
</div>

<div class="row mb-3">
  <div class="col-md-8 offset-md-2">
    <%= render partial: "insulin_bolu_templates/insulin_bolu_meals" %>
  </div>
</div>
